[submodule "proxy"]
	path = proxy
	url = https://github.com/AlexGeniusMan/RT-Hack-2021-RealityX-Proxy
[submodule "backend"]
	path = backend
	url = https://github.com/AlexGeniusMan/RT-Hack-2021-RealityX-Backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/Zayac11/RT-Hack-2021-RealityX-Frontend
[submodule "ml"]
	path = ml
	url = https://github.com/TheDim0n/RT-Hack-2021-RealityX-ML
